body {
  position: absolute;
  background-color: #fffaf0;
  top: 0;
  left: 51.5px;
  right: 51.5px;
  height: 100%;
  padding: 0 15px 0 15px;
  font-family: Helvetica;
}

text, p {
  color: #262626;
  line-height: 1.25;
}

#left-menu, #right-menu {
  height: 100%;
  width: 50px;
  background-color: #faebd7;
  position: fixed;
  top: 0px;
  margin: auto;
  display: flex;
  align-items: center;
}

#left-menu {
  left: 0;
  border-right: 1.5px solid #262626;
}

#right-menu {
  right: 0;
  border-left: 1.5px solid #262626;
}

#edit, #settings {
  top: 0;
  position: absolute;
  font-size: 50px;
  color: #262626;
}

#edit { left: 6px; }

#settings {
  top: 3px;
  right: 6.5px;
  font-size: 55px;
}

#inp, #sub, #ready { background-color: #fffaf0; }

#edit:hover, #settings:hover { color: gray; }

.overlay { visibility: visible; }

.overlay, .overlay-settings, .overlay-next {
  background-color: #333333D9;
  width: 100%;
  height: 100%;
  z-index: 2;
  position: fixed;
  left: 0;
  top: 0;
}

.overlay-settings, .overlay-next { visibility: hidden; }

.overlay-next { background-color: #FFFFFF00; }

.overlay-content, .overlay-content-next {
  padding: 10px 20px 20px 20px;
  background-color: #faebd7;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1.5px solid #262626;
  width: 65%;
}

.overlay-content-next {
  width: 55%;
  text-align: center;
}

.overlay-content p {
  color: #262626;
  padding: 0;
  display: inline;
}

text:hover, p:hover, circle:hover, rect:hover, polygon:hover, #edit:hover, #settings:hover { cursor: pointer; }

#enter, label { color: #262626; }
#enter:hover { cursor: default; }

#ready, #sub {
  text-align: center;
  margin: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.box { position: absolute; }

@media only screen and (max-width: 414px) {
  text, p, .overlay-content p { font-size: 22px; }
  #edit { left: 1px; }
  #settings { right: 7.5px; }
}

@media only screen and (min-width: 414px) and (max-width: 640px) {
  text, p, .overlay-content p { font-size: 28px; }
}

@media only screen and (min-width: 640px) and (max-width: 768px)  {
  text, p, .overlay-content p { font-size: 36px; }
}

@media only screen and (min-width: 768px) and (max-width: 1024px)  {
  text, p, .overlay-content p { font-size: 40px; }
}

@media only screen and (min-width: 1024px) and (max-width: 1280px) {
  text, p, .overlay-content p { font-size: 50px; }
}

@media only screen and (min-width: 1280px) {
  text, p, .overlay-content p { font-size: 64px; }
}
